<div>
  <h2 id="page-heading" data-cy="MentionsHeading">
    <span jhiTranslate="squeakerApp.mentions.home.title">Mentions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="squeakerApp.mentions.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mentions"
        [routerLink]="['/mentions/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="squeakerApp.mentions.home.createLabel"> Create a new Mentions </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mentions?.length === 0">
    <span jhiTranslate="squeakerApp.mentions.home.notFound">No Mentions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="mentions && mentions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="handle">
            <span jhiTranslate="squeakerApp.mentions.handle">Handle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="squeaks.id">
            <span jhiTranslate="squeakerApp.mentions.squeaks">Squeaks</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mentions of mentions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mentions', mentions.id, 'view']">{{ mentions.id }}</a>
          </td>
          <td>{{ mentions.handle }}</td>
          <td>
            <div *ngIf="mentions.squeaks">
              <a [routerLink]="['/squeaks', mentions.squeaks.id, 'view']">{{ mentions.squeaks?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mentions', mentions.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mentions', mentions.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(mentions)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
