<div>
  <h2 id="page-heading" data-cy="UtilizerHeading">
    <span jhiTranslate="squeakerApp.utilizer.home.title">Utilizers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="squeakerApp.utilizer.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-utilizer"
        [routerLink]="['/utilizer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="squeakerApp.utilizer.home.createLabel"> Create a new Utilizer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="utilizers?.length === 0">
    <span jhiTranslate="squeakerApp.utilizer.home.notFound">No Utilizers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="utilizers && utilizers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="handle">
            <span jhiTranslate="squeakerApp.utilizer.handle">Handle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="followers">
            <span jhiTranslate="squeakerApp.utilizer.followers">Followers</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="following">
            <span jhiTranslate="squeakerApp.utilizer.following">Following</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="squeakerApp.utilizer.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let utilizer of utilizers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/utilizer', utilizer.id, 'view']">{{ utilizer.id }}</a>
          </td>
          <td>{{ utilizer.handle }}</td>
          <td>{{ utilizer.followers }}</td>
          <td>{{ utilizer.following }}</td>
          <td>
            {{ utilizer.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/utilizer', utilizer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/utilizer', utilizer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(utilizer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
